%form{ action: "/post", method: "post", id: "post" }
  .field
    %textarea.form-control{ id: "text", name: "text", placeholder: "Type any text to store" }
  .field
    %input.btn.btn-success.btn-lg{ type: "submit", value: "Store" }