!!! 5
%html
  %head
    %title= "Clippy"
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" }
    %meta{ :content => "Cloud based clipboard", :name => "description" }
    %meta{ :content => "Daniele Trapani", :name => "author" }
    %link{ :href => "/css/bootstrap.min.css", :rel => "stylesheet" }
    %link{ :href => "/css/custom.css", :rel => "stylesheet" }
  %body
    .container
      %section
        =render partial: "header"
        - unless flash.nil?
          - flash.each do |k,v|
            %div{ class: "alert alert-#{k}" }
              =v
        =yield
        %footer
          %p
            Clippy (c) 2013 All Rights Reserved
    %script{ :src => "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" }
    %script{ :src => "/js/bootstrap.min.js" }
    %script{ :src => "/js/custom.js" }