.container {
    max-width: 500px;
}

footer p {
    height: 50px;
    background: #eee;
    padding-top: 15px;
    padding-left: 15px;
    margin-top: 30px;
    border-radius: 10px;
}

.field {
    padding-bottom: 10px;
}

.btn-lg {
    width: 100%;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}